In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("data/sim_50000_100_50_1_0.25/set_1/data.csv")
print(df.head())

   Feature 0  Feature 1  Feature 2  Feature 3  Feature 4  Feature 5  \
0  -2.889826  19.592293   7.739104 -13.335578   6.385919  -7.393989
1   2.837012   3.567060  -7.332946  -1.224933  -1.009780  -3.516133
2  -1.910215  -0.837251  -6.139661   3.994416  -3.947429  -1.608814
3  -8.533806   5.127155   2.486026  -4.243635   9.234611  -7.140234
4   4.313070  -4.584316  12.396364   2.006313   2.631202  -6.933120

   Feature 6  Feature 7  Feature 8  Feature 9  ...   Feature 91  Feature 92  \
0   9.017544  -0.518268  -0.513655   9.306892  ...          NaN    4.729605
1   6.485733  -0.224960  -0.577356   5.331814  ...   720.302979   -7.259502
2   4.725621   0.302843   0.967386   6.431541  ...   307.099213   -4.031960
3  -3.148477  -0.812355  -0.978780   2.391606  ...  4691.377441   -4.115803
4   0.016178  -0.560496  -0.498260   1.648950  ...     6.602431    9.989239

   Feature 93  Feature 94    Feature 95  Feature 96  Feature 97  Feature 98  \
0   -7.720779    7.940423  1.497535e+04   11.246919    1.785139   18.348963
1    5.743279  -12.309345  1.264913e+06   -1.131088    8.878673    1.973070
2   -8.516950   -1.866393  1.516902e+05   -6.790999    3.481378   -1.681391
3    2.874185   12.360121  1.737898e+00   18.757837    6.645708    7.897627
4   -3.427447    7.138925  5.026840e-01   15.196740    3.823352    5.032590

   Feature 99   Target
0   19.267761      0.0
1  -10.540052      0.0
2    0.305148      0.0
3   18.280357      0.0
4   13.830196      0.0

[5 rows x 101 columns]

In [15]:
df.describe()

,Feature 0,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,...,Feature 91,Feature 92,Feature 93,Feature 94,Feature 95,Feature 96,Feature 97,Feature 98,Feature 99,Target
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,-0.003237,0.027612,-0.012976,0.000766,-0.020910,0.047505,0.024130,0.052942,0.043413,0.039403,...,-0.007054,-0.015142,0.049981,-0.015671,-0.093178,-0.009592,0.000432,-0.028466,0.024141,0.500000
std,7.497676,7.000945,6.927798,6.665145,5.908912,6.791868,7.686620,7.756579,7.018748,7.268674,...,7.287967,7.223849,6.822314,6.301546,7.897123,6.635252,6.263875,7.126148,6.353875,0.500005
min,-32.956432,-32.704723,-31.873766,-26.466187,-29.218813,-29.499828,-30.989513,-35.226452,-31.347555,-28.598345,...,-30.421448,-32.346783,-29.626213,-25.543262,-36.678333,-30.030571,-29.477531,-28.911207,-29.272810,0.000000
25%,-4.966394,-4.645042,-4.672388,-4.508299,-4.000471,-4.553832,-5.159512,-5.163686,-4.690413,-4.871036,...,-4.907002,-4.866957,-4.529642,-4.305451,-5.358515,-4.412215,-4.238518,-4.793742,-4.258180,0.000000
50%,-0.044564,0.032363,0.003528,-0.016098,0.012824,0.044979,0.008145,0.032962,0.031172,-0.000293,...,0.019307,-0.034917,0.028562,-0.022911,-0.119623,-0.021258,0.007169,-0.049801,0.030527,0.500000
75%,5.007425,4.722285,4.655164,4.488886,3.897915,4.608085,5.195242,5.277107,4.808737,4.883266,...,4.862831,4.796993,4.631916,4.242501,5.223766,4.363398,4.216979,4.740387,4.288250,1.000000
max,30.878704,32.437920,30.705378,26.752151,23.112909,27.598608,32.327999,37.936619,25.810692,32.838585,...,33.335335,31.020679,28.361038,25.313057,33.080338,29.109488,30.508692,30.283730,30.185209,1.000000

In [17]:
print("-3**2.5 = ", -3**2.5)

-3**2.5 =  -15.588457268119896